
    
        <div id="titreQuestion">Question posée le {{reponse.newDate | date : format : timezone}} </div>
        </br>
        <!--<div>{{$ctrl.result | uppercase}}</div>-->
        </br>
        <div id="titreContenu">Contenu</div>

        </br>
        <div>{{$ctrl.reponses.body}}</div>
        </br>
          <div id="titreContenu">réponse</div>
        </br>
        <ol>
            <li ng-repeat="answer in $ctrl.reponses.Answers" id="titreQuestion">

                <div> {{answer.body}}</div>
                <div id="repondre"> <input type="button" value="REPONDRE"></div>
            </li>
        </ol>
  <div>REPONDRE</div>
 <create-answer></create-answer>