
<input type="search" placeholder="Rechercher" ng-model="q" name="search">

<ol>

    <li ng-repeat="questionsReponse in $ctrl.result | filter : q" id="liste">
        <div id="titreQuestion">&nbsp;&nbsp;Question posée le {{questionsReponse.newDate | date : format : timezone}} par <a ui-sref ="affichageprofil({id:questionsReponse.user.id})" >{{questionsReponse.user.prenom}}</a> </div>
        </br>
        <div>{{questionsReponse.titre | uppercase}}</div>
        <div id="titreQuestion">Objet de la Question </div>
        </br>
        <div>{{questionsReponse.body }}</div>
        </br>
        <div id="repondre">
            <input type="button" value="voir" ui-sref="afficheQuestion({id : questionsReponse.id})">
        </div>

        <ol>
            <li ng-repeat="Answer in questionsReponse.Answers" id="titreQuestion">

                <div> {{Answer.body}}</div>
            </li>
        </ol>
     

    </li>

</ol>