

<div>le profil de {{$ctrl.user.data.prenom}}</div>
<div>Nom: {{$ctrl.user.data.nom}}</div>
<div>Prénom: {{$ctrl.user.data.prenom}}</div>
<div>Age: {{$ctrl.user.data.age}}</div>
<div>Mail: {{$ctrl.user.data.email}}</div>
<div>Github: {{$ctrl.user.data.gitHubLink}}</div>
<div>Linkedin: {{$ctrl.user.data.linkedinLink}}</div>
<div>Points: {{$ctrl.user.data.points}}</div>
<div>Mattermost: {{$ctrl.user.data.mattermostName}}</div>
<div>Inscription: {{$ctrl.user.data.signupDate}}</div>
<div>Dernière connection : {{$ctrl.user.data.lastConnection}}</div>


